body {
    margin: 0;
    overflow-x: hidden;
}

#home {
    margin: 0 auto;
    width: 1369px;
    height: 637px;
    background-image: url("images/sunset.jpg");
}

.nav-bar {
    font-size: 1rem;
    width: 0px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    right: 210px;
    padding-left: -20px;
    top: 20px;
    font-family: "calibri";
    font-weight: bold;
}

.nav-bar ul {
    width: 1000px;
    padding-bottom: 0px;
}

.nav-bar li {
    display: inline;
    margin-left: 100px;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: black;
}

.welcome {
    font-size: 125px;
    color: white;
    font-family: pristina;
    margin-left: 508px;
    margin-top: 166px;
    text-decoration: none;
}

.name {
    font-size: 35px;
    color: white;
    font-family: lucida sans;
    margin-left: 442px;
    margin-top: -101px;
}

.personal {
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 577px;
    margin-bottom: 10px;
}

#about {
    margin: 0 auto;
    height: 637px;
    width: 1369px;
    background-color: white;
}

.Mcontainer {
    margin-top: 32px;
    margin-left: 482px;
    height: 520px;
    width: 737px;
    float: left;
}

.image {
    margin-top: 76px;
    margin-left: -442px;
    height: 400px;
    float: left;
    width: 300px;
    background-image: url("images/ruff.jpg");
}

.Ab {
    margin-top: -12px;
    margin-left: 107px;
    font-size: 80px;
    font-family: trebuchet ms;
    font-weight: bold;
}

.me {
    font-size: 114px;
    margin-left: -8px;
    margin-top: -20px;
    font-family: harrington regular;
    color: rgb(250, 127, 145);
}

hr {
    margin-left: 177px;
    margin-top: -82px;
    border-style: solid;
    width: 200px;
}

.content {
    margin-top: 90px;
    font-size: 20px;
    font-family: Plantagenet Cherokee Regular;
}

#education {
    margin: 0 auto;
    height: 637px;
    width: 1369px;
    margin-top: -49px;
    background-color: white;
}

.top {
    background-color: green;
    height: 50px;
    width: 1369px;
}

.edu {
    color: white;
    font-family: arial;
    font-size: 50px;
}

#contacts {
    margin: 0 auto;
    width: 1369px;
    height: 260px;
}

.contact {
    width: 1369px;
    height: 132px;
    background-color: #383838;
}

.con {
    font-size: 64px;
    color: white;
    font-family: Freestyle Script Regular;
    margin-left: 588px;
    margin-top: 10px;
}

.fb {
    background-image: url("images/fb.png");
    height: 90px;
    width: 90px;
    margin-left: 100px;
    margin-top: -49px;
}

.fname {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: -61px;
    margin-left: 188px;
    float: left;
}

.twitter {
    background-image: url("images/twitter.png");
    height: 90px;
    width: 90px;
    margin-left: 348px;
    margin-top: -90px;
}

.tname {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: -61px;
    margin-left: 433px;
    float: left;
}

.insta {
    background-image: url("images/insta.png");
    height: 70px;
    width: 70px;
    margin-left: 549px;
    margin-top: -79px;
}

.iname {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: -61px;
    margin-left: 630px;
    float: left;
}

.gmail {
    background-image: url("images/gmail.png");
    width: 70px;
    height: 70px;
    margin-left: 734px;
    margin-top: -70px;
}

.gname {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: -61px;
    margin-left: 816px;
    float: left;
}

.phone {
    background-image: url("images/phone.png");
    width: 70px;
    height: 70px;
    margin-left: 1006px;
    margin-top: -71px;
}

.pnum {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: -61px;
    margin-left: 1091px;
    float: left;
}