body {
    margin: 0;
    overflow-x: hidden;
}

#home {
    margin: 0 auto;
    width: 1680;
    height: 637;
    background-image: url("images/Cute.jpg");
}

.nav-bar {
    font size: 3rem;
    width: 0px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    right: 210px;
    padding-left: -20px;
    top: 20px;
    font-family: "calibri";
}

.nav-bar ul {
    width: 1000px;
    padding-bottom: 0px;
}

.nav-bar li {
    display: inline;
    margin-left: 100px;
}

.nav-bar li a {
    color: black;
    text-decoration: none;
}

.nav-bar a:visited {
    color: black;
}

.nav-bar a:hover {
    color: gray;
}

div.black {
    height: 452px;
    width: 1111px;
    background-color: black;
    opacity: .4;
    margin-left: 123px;
    margin-top: 137px;
}

.welcome {
    font-size: 62px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 420px;
    padding-top: 82px;
    text-decoration: none;
}

.name {
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 349px;
    padding-top: 19px;
}

.personal {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 444px;
    margin-bottom: 10px;
}

#about {
    margin: 0 auto;
    height: 637px;
    width: 1680px;
    background-image: url("images/Paint.jpg");
}

#education {
    margin: 0 auto;
    height: 637px;
    width: 1680px;
    margin-top: -49px;
    background-color: white;
}

.top {
    background-color: green;
    height: 50px;
    width: 1680px;
}

.edu {
    color: white;
    font-family: arial;
    font-size: 50px;
}